.message {
    border-radius: 1px;
    height: inherit;
    border: 1px solid #999;
    margin-bottom: -1px;
    min-height:60px;
}

.message-body {
    display: flex;
    align-items: center;
    min-height: 60px;
}

.message.child {
    border-top: 1px solid #999;
}

.fixed-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    right: 0;
    bottom: 0;
    left: 0;
}

input.message-input {
    width: 100%;
}
