.message {
    border-radius: 1px;
    height: inherit;
    border: 1px solid #999;
    margin-bottom: -1px;
    padding-right: 0;
    min-height:60px;
}

.message-body {
    display: flex;
    align-items: center;
    min-height: 60px;
}

.message-container {
    margin-bottom: 50px;
}


.children-messages {
    margin-right: -1px;
}

.fixed-side {
    position: fixed;
    height: 100%;
    width: 100%;
}

.fixed-bottom {
    position: fixed;
    width: 100%;
    padding: 0;
    box-shadow: 10px 3px 12px 0px #555;
    border-radius: 0;
    bottom: 0;
}
